@import "https://fonts.googleapis.com/css?family=Raleway";
@import "https://fonts.googleapis.com/css?family=Great Vibes";

h2{
    font-family: "Great Vibes", cursive;
    line-height: 1.2em;
    font-weight: bold;
}

p{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}